.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.header-left {
    flex: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.netflix-logo {
    width: 150px;
    height: 50px;
}

.links {

}

.header-right {
    flex: 1;
    display: flex;
    justify-content: right;
    padding-right: 10px;
}