* {
    color: white;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
}

body {
    overflow-x: hidden;
    background: black;
}

/* Header */
.background {
    position: relative;
}

.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    background: url('https://imageio.forbes.com/specials-images/imageserve/660c33d184d7384d2228e25f/0x0.jpg?format=jpg&crop=1393,928,x96,y0,safe&height=900&width=1600&fit=bounds') no-repeat center center;
    background-size: cover;
    z-index: -1;
}

.background > * {
    position: relative;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-left {
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;
    padding-left: 40px;
}

.netflix-logo {
    width: 150px;
    height: 50px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    font-weight: bold;
}

.links a {
    text-decoration: none;
}

.header-right {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}

.profile-picture {
    width: 40px;
    height: 40px;
}

/* Header */

/* Hero */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding-left: 80px;
    height: 80vh;
}

.hero div {
    width: 500px;
}

.hero h1 {
    font-size: 3rem;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero-buttons button {
    background: darkgray;
    padding: 10px;
}

.hero p {
    width: 25vw;
}

/* Hero */

/* Netflix Originals */

.netflix-originals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    padding-left: 40px;
}

.netflix-originals h2 {
    font-size: 1.5rem;
}

.sliding-shows {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;

    overflow: auto;
}

.sliding-shows::-webkit-scrollbar {
    display: none;
}

.sliding-shows img {
    display: inline-block;
    width: 175px;
    height: 250px;
    border-radius: 5px;
}

/* Netflix Originals */

/* Top Rated */

.top-rated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    padding-left: 40px;
}

.top-rated h2 {
    font-size: 1.5rem;
}

/* Top Rated */

/* Family Movies */

.family-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;

    padding-left: 40px;
}

.family-movies h2 {
    font-size: 1.5rem;
}

/* Family Movies */