.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}

.header-left {
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 60px;

    padding-left: 40px;
}

.netflix-logo {
    width: 150px;
    height: 50px;
}

.links {

}

.header-right {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
    padding-right: 40px;
}

.profile-picture {
    width: 40px;
    height: 40px;
}
